.main_container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

.app_wrapper{
  background-color: antiquewhite;
  height: 70%;
  width: 50%;
  position: relative;
}

.username_input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
  width: 80%;
}

.message_input{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 5%;
}

.message_input input{
  width: 80%;
}
.message_input button{
  width: 20%;
}

.message{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.message_left, .message_right{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 15px;
  border: 1px solid green;
}

.message .message_left{
  justify-self: start;
}

.message .message_right{
  justify-self: end;
}

.member_name{
  font-weight: bold;
}
.member_message{
}